@tailwind base;
@tailwind components;
@tailwind utilities;

.yesActive{
    background: blue;
    color: white;
    padding: 12px 10px;
    border-radius:5%;
    opacity: 80%;
    transform: translateY();
    box-shadow: 10px;
}